#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button {
  padding: 2em;
}

.footer {
  color: #888888;
}

.eightBall {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 20px auto;
}

.msg-box {
  padding-top: 125px;
  font-weight: bold;
}

.center {
  background-color: white;
}